*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
header background color & name of animal: #120323
sidebar background colour: #97bf04
footer background colour & image frame: #d9043d
sans-serif font for whole site
*/

header{
    background-color: #120323;
    color: #97bf04;
    padding: 10px;

    img{
        max-width: 100px;
        max-height: 100px;
        height: auto;
        align-self: center;
    }
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
main{
    img{
        border: 5px solid #d9043d;
    }
}

aside{
    background-color: #97bf04;
    padding: 30px;
}

footer{
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 30px;
}

/*Responsive Styles*/
@media screen and (max-width: 768px) {
    *{
        display: flex;
        flex-direction: column;
    }

    header{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: small;
        img{
            max-width: 120px;
            max-height: 120px;
            height: auto;
        }

    main{
        img{
            align-self: center;
            max-width: 100%;
        }
    }
    }
}